.bs-example {
	margin-left: 0;
	margin-right: 0;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding-top: 40px;
	padding-bottom: 20px;
	position: relative;
}

.pay-box h2 {
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.pay-box {
	margin-bottom: 20px;
}

	.pay-box .btn {
		margin-top: 10px;
	}

.add-experiment, .edit-experiment {
	padding-bottom: 30px;
}

.add-experiment .add {
	margin-left: 10px;
}

.add-experiment label, .edit-experiment label {
	display: block;
}

.add-experiment select, .edit-experiment select {
	display: inline;
	width: 50%;
}

.add-manually, .add-by-file {
	min-height: 300px;
}

.add-manually {
	border-right: 1px solid #ccc;
}

.add-by-file {
	border-left: 1px solid #ccc;
}

.add-experiment h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.add-experiment .or {
	text-align: center;
	position: relative;
}

.add-experiment .or span {
	display: block;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #f1f1f1;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	left: 38%;
}

.edit-experiment {
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.edit-experiment .submit {
	right: 20px;
	position: fixed;
}

.edit-experiment .add {
	display: block;
}

.comment-box {
	margin: 25px 0 40px 0;
	border: 1px solid #ccc;
	background: #f8f8f8;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

	.comment-box h2 {
		padding: 0;
		margin: 0 0 20px 0;
	}

	.comment-box textarea {
		margin-bottom: 20px;
	}

.comment {
	padding: 3px 0 3px 0;
	margin: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
}

	.comment h3 {
		margin: 0;
		padding: 0;
		font-size: 15px;
	}

#rezultati .download {
	font-size: 12px;
}

.prigovor {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

	.prigovor h3 {
		font-size: 18px;
		margin: 5px 0 7px 0;
		padding: 0;
	}