{% extends "layout.html" %}
{% block body %}

   <form class="add-experiment col-sm-12" role="form" enctype="multipart/form-data" action="{{ url_for('add_experiment') }}" method="post">

      <div class="col-sm-5 add-manually">

         <h2>Upisi podatke</h2>

         <div class="form-group">
            <label for="naziv">Naziv</label>
            <input id="naziv" type="text" name="naziv" placeholder="Naziv" class="form-control"/>
         </div>

         <div class="form-group">
            <label for="vrijemeod">Vrijeme od</label>
            <input id="vrijemeod" type="date" name="vrijemeod" placeholder="dd-mm-yyyy" class="form-control"/>
         </div>

         <div class="form-group">
            <label for="vrijemedo">Vrijeme do</label>
            <input id="vrijemedo" type="date" name="vrijemedo" placeholder="dd-mm-yyyy" class="form-control"/>
         </div>
      </div>

      <div class="col-sm-2 or">
         <span>ili</span>
      </div>

      <div class="col-sm-5 add-by-file">

         <h2>Uploadaj formatiranu datoteku</h2>

         <input type="file" name="file">

      </div>

      <div class="col-sm-12">
         <input type="submit" value="Dalje" class="btn btn-primary btn-lg">
      </div>

   </form>

{% endblock %}

