{% extends "layout.html" %}
{% block body %}

   <form class="add-experiment col-sm-6" role="form" enctype="multipart/form-data" action="{{ url_for('add_work') }}" method="post">

      <div class="form-group">
         <label for="naslov">Naslov</label>
         <input id="naslov" type="text" name="naslov" placeholder="Naslov" class="form-control"/>
      </div>

      <div class="form-group">
         <label for="sazetak">Sazetak</label>
         <textarea id="sazetak" name="sazetak" class="form-control" rows="6" placeholder="Sazetak rada"></textarea>
      </div>

      <input type="submit" value="Dalje" class="btn btn-primary btn-lg">

   </form>

{% endblock %}

