{% extends "layout.html" %}
{% block body %}

   <form class="col-sm-6" role="form" action="{{ url_for('insert_element', tip=tip, redirect_uri=redirect_uri) }}" method="post">

      <input type="hidden" name="tip" value="{{tip}}"/>

      <div class="form-group">
         <label for="naziv">Naziv</label>
         <input id="naziv" type="text" name="naziv" placeholder="naziv" class="form-control" />
      </div>

      <div class="form-group">
         <label for="skraceninaziv">Skraceni naziv</label>
         <input id="skraceninaziv" type="text" name="skraceninaziv" placeholder="skraceni naziv" class="form-control" />
      </div>

      <div class="form-group">
         <label for="tip">Tip</label>
         <input id="tip" type="text" name="skraceninaziv" placeholder="tip" class="form-control" />
      </div>

      <div class="form-group">
         <label for="cijena">Cijena</label>
         <input id="cijena" type="text" name="cijena" placeholder="cijena" class="form-control" />
      </div>

      <div class="form-group">
         <label for="inacica">Inacica</label>
         <input id="inacica" type="text" name="inacica" placeholder="inacica" class="form-control" />
      </div>

      <div class="form-group">
         <label for="webstranica">Web stranica</label>
         <input id="webstranica" type="text" name="webstranica" placeholder="web stranica" class="form-control" />
      </div>

      <input class="btn btn-primary btn-lg" type="submit" value="Dodaj {{tip_ak}}" />

   </form>

{% endblock %}