{% extends "layout.html" %}
{% block body %}

   <form class="edit-experiment" role="form" action="{{ url_for('update_experiment', uid=uid) }}" method="post">

      <input type="submit" value="Spremi promjene" class="btn btn-primary btn-lg pull-right submit">

      <div class="col-sm-6">

         <div class="form-group">
            <label for="naziv">Naziv</label>
            <input id="naziv" type="text" name="naziv" {% if naziv %} value="{{naziv}}" {%endif%} placeholder="Naziv" class="form-control"/>
         </div>

         <div class="form-group">
            <label for="vrijemeod">Vrijeme od</label>
            <input id="vrijemeod" type="date" name="vrijemeod" {% if vrijemeod %} value="{{vrijemeod}}" {%endif%} class="form-control"/>
         </div>

         <div class="form-group">
            <label for="vrijemedo">Vrijeme do</label>
            <input id="vrijemedo" type="date" name="vrijemedo" {% if vrijemedo %} value="{{vrijemedo}}" {%endif%} class="form-control"/>
         </div>

         <div class="form-group">
            <label for="platformaid">Platforma</label>
            <select id="platformaid" name="platformaid" class="form-control">
               <option value="">---</option>
               {% for i, e in platforme %}
                  <option {% if platformaid == i %} selected {% endif %} value="{{i}}">{{e}}</option>
               {% endfor %}
            </select>
            <a class="add" href="{{ url_for('add_element', tip='platform', redirect_uri=request.path) }}"><small>Dodaj novu platformu</small></a>
         </div>

         <div class="form-group">
            <label for="razvojnoOkruzenjeid">Razvojno okruzenja</label>
            <select id="razvojnoOkruzenjeid" name="razvojnoOkruzenjeid" class="form-control">
               <option value="">---</option>
               {% for i, e in razvojnaOkruzenja %}
                  <option {% if razvojnoOkruzenjeId == i %} selected {% endif %} value="{{i}}">{{e}}</option>
               {% endfor %}
            </select>
            <a class="add" href="{{ url_for('add_element', tip='razvojnookruzenje', redirect_uri=request.path) }}"><small>Dodaj novo razvojno okruzenje</small></a>
         </div>

         <div class="form-group">
            <label for="alatid">Alat</label>
            <select id="alatid" name="alatid" class="form-control">
               <option value="">---</option>
               {% for i, e in alati %}
                  <option {% if alatid == i %} selected {% endif %} value="{{i}}">{{e}}</option>
               {% endfor %}
            </select>
            <a class="add" href="{{ url_for('add_element', tip='alat', redirect_uri=request.path) }}"><small>Dodaj novi alat</small></a>
         </div>

         <div class="form-group">
            <h3>Autori</h3>
            <label for="autorid">Izaberi autora za dodavanje</label>
            <select id="autorid" name="autorid" class="form-control">
               {% for i, e in autori %}
                  <option {% if alatid == i %} selected {% endif %} value="{{i}}">{{e}}</option>
               {% endfor %}
            </select>
            <input type="submit" name="dodajautora" value="Dodaj autora" class="btn btn-sm btn-primary">
            <h3>Vec dodani autori</h3>
            <ul>
               {% for autorid, autor in dodaniautori %}
               <li>{{autor}} <a href="{{url_for('dettach_author', autorid=autorid, experimentid=uid)}}">Obrisi</a></li>
               {% endfor %}
            </ul>
         </div>

         <div class="row col-sm-12">
            <h3>Dodaj rezultat</h3>
            <div class="form-group">

               <label for="imeRezultata">Ime</label>
               <input id="imeRezultata" type="text" name="imeRezultata" placeholder="ime rezultata" class="form-control" />
            </div>

            <div class="form-group">
               <label for="vrijednost">Vrijednost</label>
               <input id="vrijednost" type="number" step="any" name="vrijednost" placeholder="vrijednost" class="form-control" />
            </div>

            <div class="form-group">
               <label for="jedinica">Jedinica</label>
               <input id="jedinica" type="text" name="jedinica" placeholder="jedinica" class="form-control" />
            </div>

            <input type="submit" name="dodajrezultat" value="Dodaj rezultat" class="btn btn-sm btn-primary">
         </div>

         {% if rezultati %}
         <div class="form-group row col-sm-12">
            <h3>Vec dodani rezultati</h3>
            <ul>
               {% for rezid, ime, value, unit, exprid in rezultati %}
               <li>#{{rezid}} - {{ime}}: {{value}} {{unit}} <a href="{{url_for('delete_result', resultid=rezid, redirect_uri=request.path)}}">Obrisi</a></li>
               {% endfor %}
            </ul>
         </div>
         {% endif %}

      </div>

   </form>

{% endblock %}