{% extends "layout.html" %}
{% block body %}

   <form class="add-experiment col-sm-6" role="form" enctype="multipart/form-data" action="{{ url_for('edit_work', uid=uid) }}" method="post">

      <div class="form-group">
         <label for="naslov">Naslov</label>
         <input id="naslov" type="text" name="naslov" placeholder="Naslov" value="{{naslov}}" class="form-control"/>
      </div>

      <div class="form-group">
         <label for="sazetak">Sazetak</label>
         <textarea id="sazetak" name="sazetak" class="form-control" rows="6" placeholder="Sazetak rada">{{sazetak}}</textarea>
      </div>

      <div class="form-group">
         <label for="datoteka">Datoteka koja sadrzi znanstveni rad</label>
         <input id="datoteka" type="file" name="datoteka" class="form-control">
      </div>

      <div class="form-group">
         <h3>Autori</h3>
         <label for="autorid">Izaberi autora za dodavanje</label>
         <select id="autorid" name="autorid" class="form-control">
            {% for i, e in autori %}
               <option {% if alatid == i %} selected {% endif %} value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
         <input type="submit" name="dodajautora" value="Dodaj autora" class="btn btn-sm btn-primary">
         <h3>Vec dodani autori</h3>
         <ul>
            {% for autorid, autor in dodaniautori %}
            <li>{{autor}}<a href="{{url_for('dettach_author_work_db', autorid=autorid, workid=uid)}}">Obrisi</a></li>
            {% endfor %}
         </ul>
      </div>

      <div class="form-group">
         <label><input checked="1" type="radio" name="tip" value="casopis"> Casopis</label>
         <label><input type="radio" name="tip" value="skup"> Znanstveni skup</label>
      </div>

      <div class="form-group casopis tip">
         <label for="casopisId">Casopis</label>
         <select id="casopisId" name="casopisId" class="form-control">
            <option value="">---</option>
            {% for casopisid, naziv, godina, rednibroj, webstranica in casopisi %}
            <option value="{{casopisid}}">{{naziv}}</option>
            {% endfor %}
         </select>
      </div>

      <div class="form-group znanstveniskup tip">
         <label for="znanstveniSkupId">Znanstveni skup</label>
         <select id="znanstveniSkupId" name="znanstveniSkupId" class="form-control">
            <option value="">---</option>
            {% for skupid, naziv, mjesto, datumod, datumdo, webstranica in skupovi %}
            <option value="{{skupid}}">{{naziv}}</option>
            {% endfor %}
         </select>
      </div>

      <input type="submit" value="Spremi promjene" class="btn btn-primary btn-lg">

   </form>

{% endblock %}

