{% extends "layout.html" %}
{% block body %}

{% if editable %}<a href="{{ url_for('edit_experiment', uid=uid) }}">Uredi</a>{% endif %}

{% if verificiran  %}
   <h2><small>Rad je verificiran</small><h2>
{% else %}
   <h2><small>Rad nije verificiran</small><h2>
{% endif %}

<h3>Autori</h3>
<ul>
	{% for i in autori %}
	<li>{{i}}</li>
	{% endfor %}
</ul>

<h3>Ocjena <code>{{prosjek}}</code></h3>

<h3>Razvojno okruzenje <code>{{razvojnoOkruzenje}}</code></h3>
<h3>Alat <code>{{alat}}</code></h3>
<h3>Vrijeme od <code>{{vrijemeod}}</code></h3>
<h3>Vrijeme do <code>{{vrijemedo}}</code></h3>

<div class="col-sm-6 btn-group">
	<a class="btn btn-info btn-sm" href="{{ url_for('preuzmi_rezultate', experimentid=eid) }}">Preuzmi rezultate</a>
</div>

{% if current_user.role == "expert" %}
   <form action="" method="POST">
      <input type="submit" value="Verificiraj" class="btn btn-primary" />
   </form>
{% endif %}

{% if komentari %}
<div class="col-sm-9">
	<h2>Komentari</h2>
	{% for autor, ocjena, komentar in komentari %}
	<div class="comment">
		<h3>{{autor}}: <code>{{ocjena}}</code></h3>
		<p>{{komentar}}</p>
</div>
{% endfor %}
</div>
{% else %}
<div class="col-sm-9">
<h3>Trenutno nema komentara</h3>
</div>
{% endif %}

<!-- Forma za ocjenjianje i komentiranje -->
<form action="{{ url_for('comment_experiment', experimentid=uid) }}" class="col-sm-5 comment-box" method="POST">
	<h2>Komentiraj</h2>
	<label for="vrijednost">Ocjena</label>
	<select id="vrijednost" name="vrijednost">
		{% for ocjena in ocjene %}
		<option value="{{ocjena}}">{{ocjena}}</option>
		{% endfor %}
	</select>
	<textarea class="form-control" name="komentar" placeholder="komentar" rows="4" ></textarea>
	<input type="submit" value="Komentiraj" class="btn btn-success" />
</form>

<div class="col-sm-1"></div>

<form action="{{ url_for('prigovori', uid=eid) }}" class="col-sm-5 comment-box" method="POST">
	<h2>Prigovori</h2>
	<input type="hidden" name="tip" value="experiment">
	<label for="tekst">Tekst prigovora</label>
	<textarea class="form-control" name="tekst" placeholder="Tekst prigovora" rows="4" ></textarea>
	<input type="submit" value="Prigovori" class="btn btn-danger" />
</form>

{% endblock %}
