{% extends "layout.html" %}
{% block body %}

<h2>Generiraj po autoru</h2>

<form role="form" action="" method="POST" class="form-horizontal" >
   <div class="form-group col-sm-5">
      <label class="col-sm-3" for="autorid">Autor:</label>
      <div class="col-sm-9">
         <select name="autorid" class="form-control">
            {% for i, e in authors %}
               <option value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
      </div>
   </div>
   <input name="aut" type="submit" value="Generiraj" class="btn btn-primary"/>
</form>

<h2>Generiraj po ocjeni</h2>

<form role="form" action="" method="POST" class="form-horizontal" > 
   <div class="form-group col-sm-5">
      <label class="control-label col-sm-3" for="ocjena">Ocjena:</label>
      <div class="col-sm-9">
         <input type="text" name="ocjena" placeholder="ocjena" class="form-control" />
      </div>
   </div>
   <input name="ocj" type="submit" value="Generiraj" class="btn btn-primary"/>
</form>

{% endblock %}

