<!doctype html>
<html>
<head>
	<title>OppApp</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

	<div class="container col-12">
		<div class="page-header">
			<h1>OppApp</h1>
		</div>
		<nav class="navbar navbar-default" role="navigation">
			<div class="collapse navbar-collapse">
			    <ul class="nav navbar-nav navbar-right">
			    	<li {% if request.endpoint == 'index' %} class="active" {% endif %}><a href="/">Pocetna</a></li>
					{% if current_user.is_anonymous() %}
						<li {% if request.endpoint == 'login' %} class="active" {% endif %}>
							<a href="{{ url_for('login') }}">Log in</a>
						</li>
						<li {% if request.endpoint == 'register' %} class="active" {% endif %}>
							<a href="{{ url_for('register') }}">Register</a>
						</li>
					{% else %}
						{% if current_user.role == 'expert' %}
							<li {% if request.endpoint == 'svi_prigovori' %} class="active" {% endif %}><a href="{{ url_for('svi_prigovori') }}">Prigovori</a></li>
                     <li><a href="{{ url_for('sve_promjene') }}">Promjene</a></li>
                     <li><a href="{{ url_for('izvjesca') }}">Izvjesca</a></li>
						{% elif current_user.role == 'reg-user' %}
							<li {% if request.endpoint == 'profile' %} class="active" {% endif %}><a href="{{ url_for('profile') }}">Profil</a></li>
							<li><a href="{{ url_for('add_work') }}">Dodaj rad</a></li>
							<li><a href="{{ url_for('add_experiment') }}">Dodaj eksperiment</a></li>
                  {% else %}
                     <li><a href="{{ url_for('sve_registracije') }}">Registracije</a></li>
						{% endif %}
                  <li><a href="{{ url_for('logout') }}">Log out</a></li>
					{% endif %}
				</ul>
			</div>
	  	</nav>

	  {% for message in get_flashed_messages() %}
	    <div class="alert alert-info">{{ message }}</div>
	  {% endfor %}

	  {% block body %}{% endblock %}

	</div>
</body>
</html>
