{% extends "layout.html" %}
{% block body %}

   <div class="col-sm-6">
      <form class="form" action="/login" method="POST" role="form">
         <div class="form-group">
            <label for="Username">Korisničko ime</label>
            <input type="text" class="form-control" id="Username" name="Username" placeholder="korisnicko ime">
         </div> <div class="form-group">
            <label for="Password">Zaporka</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="zaporka">
         </div>
         <button type="submit" class="btn btn-primary">Prijavi se</button>
      </form>
   </div>

{% endblock %}
