{% extends "layout.html" %}
{% block body %}

   <table class="table table-striped table-hover">
      <tr>
         <th>Naslov rada</th>
      </tr>
      {% for id, wrk in works %}
      <tr>
         <td>
            <a href="{{ url_for('show_work', uid=id) }}">{{ wrk }}</a>
         </td>
      </tr>
      {% endfor %}
   </table>

{% endblock %}

