{% extends "layout.html" %}
{% block body %}

<div class="col-sm-6 bs-example pay-box">
   <h2>Stanje pretplate</h2>
   {% if paid %}
      Vrijedi do: <code>{{ exp_date }}</code>
   {% else %}
      Isteklo: <code>{{ exp_date }}</code>
      <form action="{{ url_for('paid') }}" method="POST">
         <input class="btn btn-info" type="submit" value="Posalji poruku administratoru za provjeru uplate."/>
      </form>
   {% endif %}
</div>

<div class="col-sm-12">

   <div class="btn-group">
      <a class="btn btn-primary" href="{{ url_for('add_experiment') }}">Dodaj eksperiment</a>
      <a class="btn btn-primary" href="{{ url_for('add_work') }}">Dodaj znanstveni rad</a>
   </div>

   <div class="row col-sm-9">
      <h2>Moji eksperimenti</h2>
      <table class="table table-striped table-hover">
         {% for i, e in experiments %}
            <tr>
               <td>
                  <a href="{{ url_for('show_experiment', expr_id=i) }}">{{e}}</a>
               </td>
            </tr>
         {% endfor %}
      </table>

      <h2>Moji radovi</h2>
      <table class="table table-striped table-hover">
         {% for i, w in works %}
            <tr>
               <td>
                  <a href="{{ url_for('show_work', uid=i) }}">{{w}}</a>
               </td>
            </tr>
         {% endfor %}
      </table>

   </div>

</div>

{% endblock %}
