{% extends "layout.html" %}
{% block body %}

      <div class="row col-sm-9">
         <h2>Radovi i eksperimenti</h2>
         <table class="table table-striped table-hover">
            <tr>
               <th>Naziv</th>
               <th>Autor</th>
               <th>Vrsta</th>
            </tr>
            {% for url, wrk, auth in works  %}
               <tr>
                  <td>
                     <a href="/works/{{url}}">{{ wrk }}</a>
                  </td>
                  <td>
                     {{ auth }}
                  </td>
                  <td>
                     Rad
                  </td>
               </tr>
            {% endfor %}
            {% for url, exp, auth in expts %}
               <tr>
                  <td>
                     <a href="{{ url_for('show_experiment', expr_id=url) }}">{{exp}}</a>
                  </td>
                  <td>
                     {{ auth }}
                  </td>
                  <td>
                     Eksperiment
                  </td>
               </tr>
            {% endfor %}
         </table>
      </div>

      <div class="row col-sm-3 pull-right">
         <h2>Trazilica</h2>
         <form class="form" role="form" action={{ url_for('search') }} method="GET">
            <div class="form-group">
               <input name="naziv" type="text" class="form-control" placeholder="naziv">
               <button type="submit" class="btn btn-primary glyphicon glyphicon-search">Trazi</button>
               <a class="pull-right" href="/search"><small>Napredna trazilica</small></a>
            </div>
         </form>
      </div>

{% endblock %}
