{% extends "layout.html" %}
{% block body %}

   <div class="col-sm-6">
      <form class="form" action="{{url_for('register')}}" method="POST" role="form">
         <div class="form-group">
            <label for="Username">Korisnicko ime</label>
            <input type="text" class="form-control" id="Username" name="Username" placeholder="Korisnicko ime">
         </div>
         <div class="form-group">
            <label for="Password">Zaporka</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Zaporka">
         </div>
         <div class="form-group">
            <label for="FirstName">Ime</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Tvoje ime">
         </div>
         <div class="form-group">
            <label for="LastName">Prezime</label>
            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Tvoje prezime">
         </div>
         <div class="form-group">
            <label for="Address">Adresa</label>
            <input type="text" class="form-control" id="Address" name="Address" placeholder="Adresa">
         </div>

         <button type="submit" class="btn btn-primary">Registriraj se</button>
      </form>
   </div>

{% endblock %}
