{% extends "layout.html" %}
{% block body %}

<form role="form" action="{{ url_for('search') }}#rezultati" method="get">

   <div class="col-sm-6">
      <div class="form-group">
         <label for="naziv">Naziv eksperimenta</label>
         <input id="naziv" type="text" name="naziv" {% if naziv %} value="{{naziv}}" {% endif %} placeholder="naziv eksperimenta" class="form-control" />
      </div>

      <div class="form-group">
         <label for="rezultati">Rezultati</label>
         <input id="rezultati" type="text" name="rezultati" {% if rezultati %} value="{{rezultati}}" {% endif %} placeholder="valX valY ..." class="form-control" />
      </div>

      <div class="form-group">
         <label for="vrijemeod">Vrijeme od</label>
         <input id="vrijemeod" type="date" name="vrijemeod" {% if naziv %} value="{{vrijemeod}}" {% endif %} class="form-control" />
      </div>

      <div class="form-group">
         <label for="vrijemeod">Vrijeme do</label>
         <input id="vrijemedo" type="date" name="vrijemedo" {% if naziv %} value="{{vrijemedo}}" {% endif %} class="form-control" />
      </div>

      <input class="btn btn-primary btn-lg" type="submit" value="Trazi" />

   </div>

   <div class="col-sm-6">
      <div class="form-group">
         <label for="autorid">Autor</label>
         <select id="autorid" name="autorid" class="form-control">
            <option value="">--</option>
            {% for i, e in authors %}
            <option {% if autorid == i %}selected{% endif %} value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
      </div>


      <div class="form-group">
         <label for="platformaid">Platforma</label>
         <select id="platformaid" name="platformaid" class="form-control">
            <option value="">--</option>
            {% for i, e in platforme %}
               <option {% if platformaid == i %}selected{% endif %} value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
      </div>

      <div class="form-group">
         <label for="razvojnoOkruzenjeId">Razvojno okruzenje</label>
         <select id="razvojnoOkruzenjeId" name="razvojnoOkruzenjeId" class="form-control">
            <option value="">--</option>
            {% for i, e in razvojnaOkruzenja %}
               <option {% if razvojnoOkruzenjeId == i %}selected{% endif %} value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
      </div>

      <div class="form-group">
         <label for="alatId">Alat</label>
         <select id="alatId" name="alatId" class="form-control">
            <option value="">--</option>
            {% for i, e in alati %}
            <option value="{{i}}">{{e}}</option>
            {% endfor %}
         </select>
      </div>

   </div>

</form>

<div id="rezultati" class="row col-sm-9">
   <h2>Pronadeni eksperimenti <a class="download btn btn-xs btn-primary" href="{{request.url}}&download=1">Preuzmi rezultate u .csv formatu</a></h2>
   <table class="table table-striped table-hover">
      <tr>
         <th>Naziv</th>
         <th>Ime rezultata</th>
         <th>Rezultat</th>
         <th>Mjerna jedinica</th>
      </tr>
      {% for eid, exp, ime, uni, val in expts %}
         <tr>
            <td>
               <a href="{{ url_for('show_experiment', expr_id=eid) }}">{{exp}}</a>
            </td>
            <td>
               {{ ime }}
            </td>
            <td>
               {{ val }}
            </td>
            <td>
               {{ uni }}
            </td>
         </tr>
      {% endfor %}
   </table>
</div>

{% endblock %}
