{% extends "layout.html" %}
{% block body %}

   <table class="table table-striped table-hover">
      <tr>
         <th>Naslov</th>
         <th>Tip</th>
      </tr>
      {% for id, wrk in works %}
         <tr>
            <td>
               <a href="{{ url_for('show_work', uid=id) }}">{{ wrk }}</a>
            </td>
            <td>
               Rad
            </td>
         </tr>
      {% endfor %}
      {% for id, exp in experiments %}
         <tr>
            <td>
               <a href="{{url_for('show_experiment', expr_id=id)}}">{{ exp }} </a>
            </td>
            <td>
               Eksperiment
            </td>
         </tr>
      {% endfor %}
   </table>

{% endblock %}

