{% extends "layout.html" %}
{% block body %}

<h3>Registracije:</h3>

<div class="col-sm-9">

	{% for uid, username in registracije %}
      <div class="prigovor">
         <h3>{{username}}</h3>
         <a href="{{url_for('prihvati_registraciju', uid=uid)}}">Prihvati</a> 
      </div>
	{% endfor %}

</div>

{% endblock %}

