{% extends "layout.html" %}
{% block body %}

<div class="col-sm-9">

	{% for prigovorid, tip, targetid, autorid, tekst, autor, naslov in prigovori %}
      <div class="prigovor">
         <h3>{{autor}} <small>prigovorio na </small><code>{{naslov}}</code></h3>
         <a href="{{url_for('prihvati_prigovor', uid=prigovorid)}}">Prihvati</a> 
         <a href="{{url_for('odbaci_prigovor', uid=prigovorid)}}">Odbaci</a>
         <p>{{tekst}}</p>
      </div>
	{% endfor %}

</div>

{% endblock %}
