
{% extends "layout.html" %}
{% block body %}

   {% if verificiran  %}
      <h2><small>Rad je verificiran</small><h2>
   {% else %}
      <h2><small>Rad nije verificiran</small><h2>
   {% endif %}

	<h2><small>Naslov:</small> {{title}}</h2>
   <h2><small>Sazetak:</small></h2>
	<p>Sazetak: {{summary}}</p>

   {% if isSkup %}
      <h2><small>Znanstveni Skup: {{skup}}</small></h2>
      {% elif isCasopis %}
      <h2><small>Casopis:u</small></h2>
   {% endif %}
   
   {% if auth  %}
      <form action="/data/{{ filename }}" method="get">
         <input type="submit" value="Preuzmi rad" class="btn btn-primary">
      </form>
   {% endif %}

   {% if current_user.role == 'expert' %}
      <form action="" method="post" style="margin-top:10px">
         <input type="submit" value="Verificiraj" class="btn btn-primary">
      </form>
   {% endif %}

{% endblock %}

